body{
    background-color: rgb(163, 151, 95); 
    text-align: center;
}

h1 {  
    font: 2em Georgia, serif;
    color: #000000;
    text-transform: uppercase;
    text-align: center;   
}


input[type = text]{
    width: 23.3em;
    height: 3em;
    font-family: Tahoma,sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    border: 0.2em solid black;
    background-color: lightgray;
    text-align: end;
 }


input[type = button]{
   width: 4.5em;
   height: 3em;
   font-family: Tahoma,sans-serif;
   font-weight: bold;
   font-size: 1.1em;
   border: 0.1em solid black;
   border-radius: 0.3em;
}
div{
    border-radius: 1em;
    background-color:  #362E2E; 
    margin: auto;
    max-width: 32em;
    display: flex;
    flex-direction: column;
}





