body{
    background-color:white;
    color:black;
    text-align: center;
}
h1{
    text-align:center;
    color:green;
    font-size: 3.2em;
}
h2{
    text-align:center;
    color:blue;
    font-size: 2.6em;
}
h3{
    font-size: 1.6em;
}


button{
    color:black;
    min-width: 100px;
}

p{
    font-size: 1.2em;
}