body{
    background-color:lightsteelblue;
    color:black;
    text-align:center;
    margin: auto;
}
h1{
    color:green;
    font-size: 3.2em;
}
h2{
    text-align:center;
    color:blue;
    font-size: 2.6em;
}
h3{
    font-size: 1.6em;
}
input{
    min-width: 7em;
    min-height: 1em;
    font-size: 1.2em;
}

p{
    margin:auto;
    align-items: center;
    padding : 1em;
    font-size: 1.4em;

}

div{
    width: 37em;
    margin: auto;
}

table tr td {
    width: 4.375em;
    height: 4.375em;
    border: solid #BBBBBB 0.12m;
    background-color: bisque;
    text-align: center;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}
  
table tr:nth-child(odd) td:nth-child(even) {
    background:#725325;
}

table tr:nth-child(even) td:nth-child(odd) {
    background:#725325;
}
